@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reset";
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";
@import "bootstrap/hero-unit";
@import "bootstrap/type";
@import "bootstrap/thumbnails";
@import "bootstrap/tables";

@mixin col {
  margin-left: 20px;
  float: left; }

.header {
  overflow: hidden;
  margin-top: 1em;
  @extend .hero-unit;
  padding: 35px;

  .address, .table {
    float: left; }

  .address {
    width: 33%;
    font-size: 14px;
    line-height: 1.5; }

  img {
    @include border-radius(6px);
    float: right; } }

.table {
  width: 66%;
  margin-top: -4px;

  .label {
    text-align: right; } }

.hgroup {
  width: 50%;
  float: left; }

.subtitle {
  margin-bottom: 12px; }

.features {
  @extend .row }

.feature {
  @extend .span4;
  @include col; }

.title {
  @extend .page-header; }

h3 {
  line-height: 1; }

.feature.est img, .feature.metals img {
  @include border-radius(6px); }

.contact-methods {
  list-style: none;
  padding: 0; }

.icon {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 5px; }

.find-contact {
  @extend .row; }

.map {
  @extend .span8;
  @include col; }

.contact-details {
  @include col;
  @extend .span4;

  address {
    float: left; }

  .address {
    overflow: hidden;
    font-style: normal; } }

.opening-hours {
  margin-bottom: 12px; }

.contact-method {
  margin-bottom: 15px; }

@import "icon/*.png";
@include all-icon-sprites;
