.hero-unit
  %h1 W Allan &amp; Sons
  %h2 Scrap Metal Merchants, Carlisle

.row
  .span4
    .page-header
      %h3 Service 1
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.

  .span4
    .page-header
      %h3 Service 2
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.

  .span4
    .page-header
      %h3 Service 3
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.

.row
  .span8
    .page-header
      %h3 Find Us
    .thumbnail
      %img{:src => "http://placehold.it/620x300"}
      %h5 Google Map
      %p
        %a{:href => "http://goo.gl/maps/2adJ"} Link here

  .span4
    .page-header
      %h3 Contact Us

    %ul.contact-methods
      %li.contact-method.phone
        %span.icon.icon-phone_dark
        01228 524433

      %li.contact-method.email
        %span.icon.icon-email_dark
        %a{:href => "mail_to:info@example.co.uk"} info@example.co.uk

      %li.contact-method.address
        %span.icon.icon-pin_dark
        %address
          Waller Street Works,
          %br/
          Waller Street,
          %br/
          Carlisle,
          %br/
          CA1 2DA 
